@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #18181b;
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar,
.scrollbarcomments::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb,
.scrollbarcomments::-webkit-scrollbar-thumb {
  background-color: #7c3aed;
  border-radius: 5px;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #a78bfa;
}

::selection {
  color: white;
  background: #a78bfa;
}

.header {
  transition: 0.4s all ease;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 1rem 0;
}
.header.active {
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  background: #7c3aed;
  color: black;
  transition: 0.4s all ease;
}

.color-text, .color-text-2, .menuIcon {
  color: white;
}

.color-text.active, .color-text-2.active, .menuIcon.active {
  color: white;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.select {
  top: auto;
  bottom: 100%;
}
